<style>
    .card {
        padding: 30px 40px;
        margin-top: 60px;
        margin-bottom: 60px;
        border: none !important;
        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
    }

    .blue-text {
        color: #00BCD4
    }

    .form-control-label {
        margin-bottom: 0
    }

    input,
    textarea,
    button {
        padding: 8px 15px;
        border-radius: 5px !important;
        margin: 5px 0px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        font-size: 18px !important;
        font-weight: 300
    }

    input:focus,
    textarea:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid #00BCD4;
        outline-width: 0;
        font-weight: 400
    }

    .btn-block {
        text-transform: uppercase;
        font-size: 15px !important;
        font-weight: 400;
        height: 43px;
        cursor: pointer
    }

    .btn-block:hover {
        color: #fff !important
    }

    button:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline-width: 0
    }
</style>
{{#if message}}
<div class="alert alert-success" role="alert">
  {{ message }}
</div>
{{/if}}
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h3>Registrar Entrada</h3>
            <div class="card">
                <form class="form-card" action="/api/producto" method="POST">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Nombre del producto<span class="text-danger"> *</span></label>
                            <input type="text" id="nombre" name="nombre" placeholder="Nombre del producto" required>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Categoría</label>
                            <select class="form-control" id="categoria" name="categoria" required>
                                <option value="">Seleccione</option>
                                <option value="Alimentos">Alimentos</option>
                                <option value="Belleza">Belleza</option>
                                <option value="Salud">Salud</option>
                                <option value="Entrenamiento">Entrenamiento</option>
                                <option value="Aseo">Aseo</option>
                                <!-- Opciones de categoría -->
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Precio<span class="text-danger"> *</span></label>
                            <input type="number" id="precio" name="precio" placeholder="Precio" required>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Cantidad<span class="text-danger"> *</span></label>
                            <input type="number" id="cantidad" name="cantidad" placeholder="Cantidad" required>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-12 flex-column d-flex">
                            <label class="form-control-label px-3">Fecha de vencimiento<span class="text-danger"> *</span></label>
                            <input type="date" id="fechav" name="fechav" placeholder="Fecha de vencimiento" required>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="form-group col-sm-6">
                            <button type="submit" class="btn-block btn-primary">Registrar Entrada</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
