<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/sb-admin-2.min.css">
    <script src="/js/Chart.min.js"></script>
    <script src="/js/socket.js"></script>
    <title>SALUTE</title>
</head>
<body>
    
    <div id="wrapper">
        {{>sidebar}}
        {{>topbar}}
        <div class="container-fluid">
            {{{body}}}
        </div>
        
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/chart-pie-demo.js"></script>
    <script src="/js/chartArea.js"></script>
</body>
</html>